@import 'tailwindcss';

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar personnalisée - masquée pour la barre verticale */
/* Masquer la barre verticale pour WebKit */
::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Pour Firefox et autres - masquer la barre verticale */
html {
  scrollbar-width: none; /* Masque la barre verticale */
  -ms-overflow-style: none; /* Pour IE et Edge */
}

html::-webkit-scrollbar {
  display: none; /* Masque la barre verticale pour WebKit */
}
